.Footer3
{
    justify-content: center;
  align-items: center;
  width:90%;
  margin-top: 2%;




}
.offertop {
    display: flex;
    align-items: center;
   
  }
  .title
  {
    color: rgb(31, 30, 30);
    font-weight: bold;
    font-size:xx-large;
    display: block;
    width: 38%;
    text-align: left;
    margin-left: 22%;
  }
  .app-images
  {
    display: flex;
  }
.app-images img{
    width:200px;
    height: 50px;
    margin-right: 10%;
}
