.Footer {
 
    justify-content: center;
    align-items: center;
    width:100%;
   margin-left: 10%;
   margin-right: 14%;
  
  }
  
  .offertop {
    display: flex;
    align-items: center;
  }
  
  .restaurant-list {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: flex-start; /* Change to flex-start */
  }
  
  .Footer-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 23%;
    /* Add some space between items */
  }
  .Footer-name
  {
    color: rgb(63, 62, 62);
    width:80%;
    height:100%;
    text-align: center;
    padding: 5%;

    font-weight: 600;
    border-radius: 10px;
    border: 1px solid rgb(206, 203, 203);
    text-decoration: none;
  }
 .show-more-btn
 {
  color: rgb(63, 62, 62);
    width:80%;
    height:100%;
    text-align: center;
    padding: 5%;

    font-weight: bold;
    border-radius: 10px;
    border: 1px solid rgb(206, 203, 203);
 }
 .toggle-icon {
  margin-left: 8px;
  font-size: 10px;
  line-height: 1;
}