/* Menu.css */
.Menucontainer {
  justify-content: center;
  align-items: center;
  width:90%;

}

.Menutop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Menuarrow{
  display: flex;
    justify-content: space-between;
    width:10%;
    height: 30%;
}

.Menuarrowsymbol {
  color: rgb(3, 3, 3);
  font-size: large;
  width: 44%;
  height: 40px;
  border-radius: 50px;
  padding: 5%;
  border: none;
  background-color: rgb(163, 162, 162); 
  cursor: pointer;
}

.menunav {
  overflow: hidden;
  white-space: nowrap;
  padding: 1%;
}

.menunav > div {
  display: flex;
  height: 100%;
  border-radius: 15px;
  width: 100%;
  padding-bottom: 12%;
}



.carousel-item1 {
  display: flex;
  flex-direction: column;
  flex: 0 0 27.33%;
  width: 70%;
  margin-left: 0%;
  margin-right: 3%;
  /* Set a fixed height for the carousel item */
  height: 200px;
}
.carousel-img1 {
  max-width: 100%;
  max-height: 100%;
  /* Set the object-fit property to control image scaling */
  object-fit: cover;
  border-radius: 18px;
  text-align: left;
}
.menuData
{
 
}

.menuimage-text {
  font-weight: bold;
  text-align: left;
  font-size: larger;
  color: rgb(85, 84, 84);
}

.ratingimg {
  display: flex;
  align-items: center; 
  margin-top: 5px; 
}

.carousel-item1:hover .carousel-img1 {
  transform: scale(0.9); 
  transition: transform 0.3s ease; 
}
.ratingtext
{
  font-weight: bold;
  margin-left: 10px;
  color: rgb(85, 84, 84);
}
.menus
{
  display: block;
}
.menusitems {

  width:80%;
  height: 10%;
  text-align: left;
  white-space: normal;
        text-overflow: ellipsis;
        color: gray ;
}

.locality {

  width:80%;
  height: 10%;
  text-align: left;
  white-space: normal;
        text-overflow: ellipsis;
        color: gray ;
}
