/* Menu.css */
.secondoffercontainer {
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 200px;
  margin: 0% 0% 0% 15%;
}

.offertop {
  display: flex;
  align-items: center;
}

.arrow {
  display: flex;
  justify-content: space-between;
  width: 10%;
  height: 30%;
}

.arrow a {
  color: rgb(75, 75, 75);
  font-size: large;
  width: 30%;
  border-radius: 60px;
  padding: 5%;
  background-color: rgb(194, 191, 191);
}

.imagenav1 {
  overflow: hidden;
  white-space: nowrap;
padding-bottom: 8%;
}

.imagenav1 > div {
  display: flex;
  height: 80%;
  border-radius: 15px;
  width: 100%;
}



.carousel-item1 {
  display: flex;
  flex-direction: column;
  flex: 0 0 35.50%;
  width: 70%;
  height: 70%;
  margin-left: 0%;
  margin-right: 3%;
  /* Set a fixed height for the carousel item */
  height: 200px;
}
.carousel-img1 {
  max-width: 100%;
  max-height: 100%;
  /* Set the object-fit property to control image scaling */
  object-fit: cover;
  border-radius: 18px;
  text-align: left;
}

.image-text {
  font-weight: bold;
  text-align: left;

}

.ratingimg {
  display: flex;
  align-items: center; 
  margin-top: 5px; 
}

.ratingimg img {
  width: 21px;
  height: 18px;
  margin-right: 5px; 
  background-color: white;
  border-radius: 5px;
}
.ratingtext
{
  font-weight: bold;
}

.menusitems {

  width:40%;
  height: 10%;
  max-height: 3.6em;
  line-height: 1.8em;
  text-align: left;
  white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        color: gray ;
}

.locality {

  text-align: left;
  width:21px; 
  color: rgb(88, 88, 88) ;
}
