.offercontainer
{
    justify-content: center;
    align-items: center;
    width:90%;
    
}
.offertop
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow
{
    display: flex;
    justify-content: space-between;
    width:10%;
    height: 30%;
 
}
.arrow_symbol
{
  color: rgb(3, 3, 3);
  font-size: large;
  width: 44%;
  height: 40px;
  border-radius: 50px;
  padding: 5%;
  border: none;
  background-color: rgb(163, 162, 162); 
  cursor: pointer;
}

.imagenav {
    overflow: hidden;
    white-space: nowrap;
    border-radius: 15px;
  }
  
  .imagenav > div {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 280px;
    border-radius: 15px;
    width: 71%;
   
  }
  
  .carousel-item {
    flex: 0 0 40%;
    margin-right: 2px; /* Adjust the margin as needed */
    transition: opacity 0.5s;
    /* Set the initial opacity of non-active items */
  }
/*   
  .carousel-item.active {
  
  } */
  
  .carousel-img {
    max-width: 100%; /* Make sure images fit within the container */
    padding: 5px;
  }