.RestaurantsFood {
  justify-content: center;
  align-items: center;
  width:90%;

   
  }
  
  .offertop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .restaurant-list
  {
    overflow: hidden;
    white-space: nowrap;
    padding: 1%;
  }
  
.restaurant-list > div {
    display: flex;
  height: 100%;
  border-radius: 15px;
  width: 100%;
  padding-bottom: 2%;
  }
  
  .restaurant-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 31.33%;
    width: 100%;
    margin-right: 2%;
    justify-content: space-between;
    /* Set a fixed height for the carousel item */
    height: 200px;
  }
  .restaurant-image
  {
    max-width: 100%;
  max-height: 100%;
  /* Set the object-fit property to control image scaling */
  object-fit: cover;
  border-radius: 18px;
  text-align: left;
  height: 200px;
 
  }
  .restaurant-item:hover .restaurant-image {
    transform: scale(0.9); 
    transition: transform 0.3s ease; 
  }
  .restaurant-rating
  {
    display: flex;
  }
  
  .restaurant-name
  {
    font-weight: bold;

  font-size: larger;
  color: rgb(85, 84, 84);
  width:80%;
  height: 10%;
  text-align: left;
  white-space: normal;
        text-overflow: ellipsis;
        
  }
  .rating-text
  {
    text-align: left;
    font-weight: bold;
    
  }
  .restaurant-cuisines
  {
    text-align: left;
    color: rgb(88, 88, 88);
    font-weight: 500;
  }
  .restaurant-area
  {
    text-align: left;
    color: rgb(88, 88, 88);
    font-weight: 500;
  }
  .ratingimg
  {
    display: flex;
    align-items: center; 
    margin-top: 5px; 
  }
  .ratingtext
  {
    font-weight: bold;
  margin-left: 10px;
  color: rgb(85, 84, 84);
  }
  .resmenus
  {
    display: block;
  }
  .restaurant-cuisines
  {
    width:80%;
  height: 10%;
  text-align: left;
  white-space: normal;
        text-overflow: ellipsis;
        color: gray ;
  }
  .restaurant-area
  {
    width:80%;
    height: 10%;
    text-align: left;
    white-space: normal;
          text-overflow: ellipsis;
          color: gray ;
  }
  
  