.App {
  text-align: center;
  width:100%
}
.header
{
  width:80%;
  margin-left: 15%;
}
.body
{
  width:80%;
  margin-left: 15%;
}
.footer
{
  width:90%;

}
.footer1
{
  width:90%;

}
.footer2
{
  width:90%;

}
.footer3
{
  width:100%;
  background-color: rgb(235, 233, 233);

}
.footer4
{
  width:100%;
  background-color:black;
  color: white;
}

